@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Đăng Nhập";
}
@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <img class="logo-login" src="~/img/avatars/logo_login.png" alt="logo" style="width: 100%;" />
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["ErrorMessage"]
                        </div>
                    }
                    <form method="post" action="@Url.Action("LoginBasic", "Auth", new { returnUrl = ViewData["ReturnUrl"] })">
                        <div class="mb-6">
                            <label for="username" class="form-label">Tên Đăng Nhập</label>
                            <input type="text" class="form-control" id="username" name="username" style="width: 100%; padding:7.5px;" required>
                        </div>
                        <div class="mb-6 form-password-toggle">
                            <label class="form-label" for="password">Mật Khẩu</label>
                            <input type="password" id="password" class="form-control" name="password" required />
                        </div>
                        <div class="mb-8">
                            <div class="d-flex justify-content-between mt-8">
                                <div class="form-check mb-0 ms-2">
                                    <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me">
                                    <label class="form-check-label" for="remember-me">
                                        Remember Me
                                    </label>
                                </div>
                                <a href="#">
                                    <span>Forgot Password?</span>
                                </a>
                            </div>
                        </div>
                        <div class="mb-6">
                            <button class="btn btn-primary d-grid w-100" type="submit" style="font-family:initial; font-size:15px; font-weight:600">Đăng Nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
