@using PLANMHE.Models
@{
	ViewData["Title"] = "Danh Sách Cài Đặt Kế Hoạch";
}
<div class="main-box">
	<div class="header-section">
		<div class="left-icon"><i class="ace-icon fa fa-star orange"></i></div>
		<div class="page-title">Danh Sách Kế Hoạch</div>
		<div class="right-settings"><i class="fa fa-regular fa-gear"></i></div>
	</div>
</div>
