<!-- Cập nhật mã HTML để thêm hành động đăng xuất và JavaScript xử lý -->
@if (ViewData["navbarFull"] != null)
{
	<div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
		<a asp-controller="Dashboards" asp-action="Index" class="app-brand-link gap-2">
			<span class="app-brand-logo demo">
				@await Html.PartialAsync("../_Partials/_Macros")
			</span>
			<span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
		</a>
	</div>
}
@if (ViewData["navbarHideToggle"] == null)
{
	<div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
		<a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
			<i class="bx bx-menu bx-md"></i>
		</a>
	</div>
}
<div class="navbar-nav align-items-center">
</div>
<div class="footer-content" style="font-family: 'Times New Roman', sans-serif; font-size: 24px; font-weight: bold; color:black;">
	<span>HỆ THỐNG KẾ HOẠCH SẢN XUẤT</span>
</div>
<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
	<form id="logoutForm" asp-controller="Dashboards" asp-action="Logout" method="post">
		<button type="submit" style="background-color: #c00000;
            color: #FFF;
            display: block;
            line-height: inherit;
            text-align: center;
            height: 100%;
            width: auto;
            min-width: 50px;
            padding: 4px 15px;
            position: relative;
            border: none;
            font-family: 'Times New Roman', sans-serif;">
			Đăng Xuất
			<i class="fa fa-sign-out" aria-hidden="true"></i>
		</button>
	</form>
</div>

<script>
	document.getElementById('logoutForm').addEventListener('submit', function (e) {
		e.preventDefault(); 

		window.history.pushState(null, null, window.location.href);
		window.onpopstate = function () {
			window.history.pushState(null, null, window.location.href);
		};

		// Gửi yêu cầu đăng xuất
		fetch(this.action, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded',
			}
		}).then(response => {
			if (response.ok) {
				window.location.href = '/Auth/LoginBasic';
			}
		});
	});
</script>
