@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
    bool isAdmin = User.Identity.IsAuthenticated && User.Claims.Any(c => c.Type == "UserTypeId" && c.Value == "1");
}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <img class="logo-drb" src="~/img/avatars/logodrb.png" alt="logo" />
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
        </a>
    </div>
    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class='menu-item@(currentPage.EndsWith("/") ? " active" : "")'>
            <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
                <i class="menu-icon fa fa-home"></i>
                <div class="text-truncate" data-i18n="Dashboards">Trang Chủ</div>
            </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Category") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='menu-icon fa fa-list'></i>
                <div>Danh Mục</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Category/Category" ? " active" : "")'>
                    <a asp-controller="Category" asp-action="Category" class="menu-link">
                        <div>Danh Mục Xưởng </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/SettingPlan") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon fa fa-list-alt"></i>
                <div>Cài Đặt Kế Hoạch</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/SettingPlan/Create" ? " active" : "")'>
                    <a asp-controller="SettingPlan" asp-action="Create" class="menu-link">
                        <div>Tạo Mới</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/SettingPlan/Listkehoach" ? " active" : "")'>
                    <a asp-controller="SettingPlan" asp-action="Listkehoach" class="menu-link">
                        <div>Danh Sách Kế Hoạch</div>
                    </a>
                </li>
            </ul>
        </li>
		<li class='menu-item@(currentPage.StartsWith("/THPlan") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class='menu-icon fa fa-check-square-o'></i>
                <div>Quản Lý Kế Hoạch</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/THPlan/ListTHPlan" ? " active" : "")'>
					<a asp-controller="THPlan" asp-action="ListTHPlan" class="menu-link">
                        <div>Thực Hiện Kế Hoạch</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Xuathangkho/Listxuathangkho" ? " active" : "")'>
                    <a asp-controller="Xuathangkho" asp-action="Listxuathangkho" class="menu-link">
                        <div>Lịch Sử Kế Hoạch</div>
                    </a>
                </li>
            </ul>
        </li>
        @if (isAdmin)
        {
            <li class='menu-item@(currentPage.StartsWith("/SettingUser") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class='menu-icon fa fa-user'></i>
                    <div>Người Dùng</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/SettingUser/ListRoleSetting" ? " active" : "")'>
                        <a asp-controller="SettingUser" asp-action="ListRoleSetting" class="menu-link">
                            <div>Loại Người Dùng</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/SettingUser/ListUser" ? " active" : "")'>
                        <a asp-controller="SettingUser" asp-action="ListUser" class="menu-link">
                            <div>Danh Sách Người Dùng</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Pages/AccountSettingsNotifications" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="AccountSettingsNotifications" class="menu-link">
                            <div>Phân Quyền</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Pages/AccountSettingsConnections" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="AccountSettingsConnections" class="menu-link">
                            <div>Phân Công Xưởng</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
    </ul>
</aside>
