@{
	TempData.Keep();

	string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

	@* ! Hide app brand if navbar-full *@
	<div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
		<a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
			<img class="logo-drb" src="~/img/avatars/logodrb.png" alt="logo" />
		</a>

		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
			<i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
		</a>
	</div>

	@* ! Full version menu-items *@
	<ul class="menu-inner py-1">
		<!-- Dashboards -->
		<li class='menu-item@(currentPage.EndsWith("/") ? " active" : "")'>
			<a href="/" class="menu-link">
				<i class="menu-icon tf-icons bx bxs-home"></i>
				<div class="text-truncate" data-i18n="Dashboards">Trang Chủ</div>
			</a>
		</li>

		<li class='menu-item@(currentPage.StartsWith("/Category") ? " active open" : "")'>
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class='menu-icon bx bxs-spreadsheet'></i>
				<div>Danh Mục</div>
			</a>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Category/Category" ? " active" : "")'>
					<a asp-controller="Category" asp-action="Category" class="menu-link">
						<div>Danh Mục Công Đoạn</div>
					</a>
				</li>
			</ul>
		</li>
		<li class='menu-item@(currentPage.StartsWith("/ProductMhe")  || currentPage.StartsWith("/ProductCv") || currentPage.StartsWith("/ProductCvGCCtroller") || currentPage.StartsWith("/ProductCSDCtrollercs") ? " active open" : "")'>
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-layout"></i>
				<div>Bộ Phận MHE</div>
			</a>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/ProductMhe/ListLoiThep" ? " active" : "")'>
					<a asp-controller="ProductMhe" asp-action="ListLoiThep" class="menu-link">
						<div>Tiêu Chuẩn Lõi Thép</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/ProductMhe/ListCaoSuDun" ? " active" : "")'>
					<a asp-controller="ProductCSDCtrollercs" asp-action="ListCaoSuDun" class="menu-link">
						<div>Tiêu Chuẩn Cao Su Đùn</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/ProductMhe/ListTieuChuanCV" ? " active" : "")'>
					<a asp-controller="ProductCv" asp-action="ListTieuChuanCV" class="menu-link">
						<div>Tiêu Chuẩn Công Việc</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/ProductMhe/ListcVGCMHE" ? " active" : "")'>
					<a asp-controller="ProductCvGCCtroller" asp-action="ListCvGCMHE" class="menu-link">
						<div>Tiêu Chuẩn Gang Cầu</div>
					</a>
				</li>

			</ul>
		</li>

		<li class='menu-item@(currentPage.StartsWith("/ProductCTL")|| currentPage.StartsWith("/CaoSuCTLCotroller")|| currentPage.StartsWith("/GangCauCTLCotroller")|| currentPage.StartsWith("/ThanHinhCTLCotronller") ? " active open" : "")'>
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-store"></i>
				<div>Bộ Phận CTL</div>
			</a>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/ProductCTL/ListTieuChuanCTL" ? " active" : "")'>
					<a asp-controller="ProductCTL" asp-action="ListTieuChuanCTL" class="menu-link">
						<div>Tiêu Chuẩn Lõi Thép</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/ProductCTL/ListCaoSuCTL" ? " active" : "")'>
					<a asp-controller="CaoSuCTLCotroller" asp-action="ListCaoSuCTL" class="menu-link">
						<div>Tiêu Chuẩn Cao Su</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/ProductCTL/ListGangCauCTL" ? " active" : "")'>
					<a asp-controller="GangCauCTLCotroller" asp-action="ListGangCauCTL" class="menu-link">
						<div>Tiêu Chuẩn Gang Cầu</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/ProductCTL/ListThanhHinhCTL" ? " active" : "")'>
					<a asp-controller="ThanHinhCTLCotronller" asp-action="ListThanhHinhCTL" class="menu-link">
						<div>Thành Hình & Lưu Hóa</div>
					</a>
				</li>
			</ul>
		</li>

		<li class='menu-item@(currentPage.StartsWith("/ProductKho") || currentPage.StartsWith("/Donghang") || currentPage.StartsWith("/Xuathangkho") ? " active open" : "")'>
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class='menu-icon bx bxs-business'></i>
				<div>Bộ Phận Kho</div>
			</a>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Donghang/Listdonghang" ? " active" : "")'>
					<a asp-controller="Donghang" asp-action="Listdonghang" class="menu-link">
						<div>Công Đoạn Đóng Hàng</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/Xuathangkho/Listxuathangkho" ? " active" : "")'>
					<a asp-controller="Xuathangkho" asp-action="Listxuathangkho" class="menu-link">
						<div>Công Đoạn Xuất Hàng</div>
					</a>
				</li>
			</ul>
		</li>
		<!-- Apps -->
		<li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class='menu-icon bx bx-user'></i>
				<div>Người Dùng</div>
			</a>
			<ul class="menu-sub">
				<li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
					<a asp-controller="Pages" asp-action="AccountSettings" class="menu-link">
						<div>Danh Sách Người Dùng</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/Pages/AccountSettingsNotifications" ? " active" : "")'>
					<a asp-controller="Pages" asp-action="AccountSettingsNotifications" class="menu-link">
						<div>Phân Quyền</div>
					</a>
				</li>
				<li class='menu-item@(currentPage == "/Pages/AccountSettingsConnections" ? " active" : "")'>
					<a asp-controller="Pages" asp-action="AccountSettingsConnections" class="menu-link">
						<div>Phân Công Xưởng</div>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</aside>
